{% extends "base.html" %}

{% block title %}Social Feed{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="container social">

        <div class="row social__post boxshadow">
          <div class="col-md-12">
            {% from "_formhelpers.html" import render_field %}
            <form method="POST" action="{{ url_for('social_post') }}">
              {{ form.hidden_tag() }}
              <div class="form-row">
                <div class="offset-md-2"></div>
                <div class="form-group col-md-8">
                  <h1>What's your view on...?</h1>
                  {{ render_field(form.url, class='form-control', type='url', placeholder='Enter article url...') }}
                  {{ render_field(form.post, class='form-control', rows='3', columns='3', placeholder="What's on your mind?") }}
                </div>
                <div class="offset-md-2"></div>
              </div>
              <div class="form-row">
                <div class="offset-md-6"></div>
                <div class="form-group col-md-4">
                  <button class="btn btn-primary btn-block" type="submit">Post</button>
                </div>
                <div class="offset-md-2"></div>
              </div>
            </form>
          </div>
        </div>

        <br/>

        {% if posts %}
        {% for post in posts %}
          <div class="row social__timeline">

            <div class="col-md-7 social__timeline--article" onclick="window.location.href='{{ url_for('show_bookmark', collectionId=post.collection_id, bookmarkId=post.bookmark_id) }}'">
              <div class="card">
                <img class="card-img-top" src="{{ post.image }}" alt="Card image cap" />
                <div class="card-body">
                  <h4 class="card-title">{{ post.title }}</h4>
                  <p class="card-text">{{ post.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item text-center">Source: {{ post.source }}</li>
                </ul>
              </div>
            </div>

            <div class="col-md-5 social__timeline--comments">

              <div class="card post">
                <div class="card-body">
                  <h4 class="card-title">Posted by {{ User.query.filter_by(id=post.user_id).first().username }} <span class="social__timeline--postdate"> on {{ post.posted_on }}</span></h4>
                  <p>{{ post.post }}</p>
                  <hr/>
                  <div class="row">
                    <div class="col-md-1">
                      <p>{{ post.num_likes }}</p>
                    </div>
                    <form class="col-md-3" method="POST" action="{{ url_for('increment_post_like', postId=post.id) }}">
                      <button class="btn btn-primary col-md-12">Like</button>
                    </form>
                    <div class="col-md-3"></div>
                    <div class="col-md-1">
                      <p>{{ post.num_dislikes }}</p>
                    </div>
                    <form class="col-md-3" method="POST" action="{{ url_for('increment_post_dislike', postId=post.id) }}">
                      <button class="btn btn-primary col-md-12">Dislike</button>
                    </form>
                  </div>

                  <hr/>

                  {% for comment in Comment.query.filter_by(post_id=post.id) %}
                    <div class="comment">
                      <div class="comment__wrapper">
                        <img class="img-thumbnail comment__wrapper--img" src="{{ User.query.filter_by(id=comment.user_id).first().image }}" alt="profile picture" />
                        <p class="comment__wrapper--name">{{ User.query.filter_by(id=comment.user_id).first().username }}</p>
                      </div>
                      <div class="comment__wrapper--comment">
                        <p>{{ comment.comment }}</p>
                      </div>
                    </div>
                  {% endfor %}
                </div>

                <!-- <div class="comment__readmore">
                  <a href="#">Read more</a>
                </div> -->

                <div class="comment__comment-entry">
                  <hr/>
                  {% from "_formhelpers.html" import render_field %}
                  <form class="form-inline" method="POST" action="{{ url_for('comment', postId=post.id) }}">
                    {{ form.hidden_tag() }}
                    <img class="img-thumbnail comment__wrapper--img" src="{{ current_user.image }}" />
                    <!-- <textarea class="form-control" rows="2" columns="3" placeholder="Write a comment..." required></textarea> -->
                    {{ render_field(comment_form.comment, class='form-control', rows='2', columns='3', placeholder="Write a comment...", required=True) }}
                    <button class="btn btn-primary" type="submit">Post</button>
                  </form>
                </div>
              </div>

            </div>
          </div>

          <br/><hr/>
        {% endfor %}
        {% endif %}

      </div>
    </div>
  </div>
{% endblock %}
