{% extends "base.html" %}

{% block title %}Library{% endblock %}

{% block content %}
  {% if collection.image_upload %}
    <div class="jumbotron library__bookmarks--header" style="background-image: url('{{ url_for('static', filename='uploads/images/' + collection.image_upload) }}')">
  {% else %}
    <div class="jumbotron library__bookmarks--header" style="background-image: url('{{ collection.image }}')">
  {% endif %}
    <br/><br/>
    <div class="library__bookmarks--header-content">
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-secondary" onclick="window.location.href='/library'"><span><i class="fa fa-chevron-left"></i></span> Back</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-warning" data-toggle="modal" data-target="#editModal" style="float: right;">Edit Collection</button>
        </div>
      </div>
      <h1 class="text-center">{{ collection.name }}</h1>
      <br/>
      <p class="text-center">Add the url of a news article below to bookmark it or <a href="{{ url_for('browse') }}">browse top headlines</a> and add them from there.</p>
      <br/>

      {% from "_formhelpers.html" import render_field %}

      <form class="form-inline col-md-12 justify-content-center" method="POST" action="{{ url_for('scrape', collectionId=collection.id) }}">
        <div class="form-group">
          {{ form.hidden_tag() }}

          {{ render_field(form.url, class='form-control', id='formUrl', style='width:50em', placeholder='Enter a news article URL...') }}
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success">Add Bookmark</button>
        </div>
      </form>

      {% if error %}
      <br/>
      <p class="text-center">{{ error }}</p>
      {% endif %}
    </div>
  </div>

  {% if bookmarks != None %}
    <div class="container library__filter">
      <div class="col-md-3"></div>
      <div class="input-group col-md-6 justify-content-center">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-search"></i></span>
        </div>
        <input class='form-control' placeholder='Search for a collection or bookmark...' />
      </div>
      <div class="col-md-3">
      {% if edit_bookmark_status == True %}
        <form method="POST" action="{{ url_for('change_edit_status', collectionId=collection.id) }}">
          <button class="btn btn-success">Done</button>
        </form>
      {% else %}
        <form method="POST" action="{{ url_for('change_edit_status', collectionId=collection.id) }}">
          <button class="btn btn-warning">Edit</button>
        </form>
      {% endif %}
      </div>
    </div>

    <br/><br/>

    <div class="row library__bookmarks">
      {% for bookmark in bookmarks %}
        <div class="col-sm-3 library__bookmarks--card" onclick="window.location.href='/library/{{ collection.id }}/{{ bookmark.id }}'">
          <div class="card boxshadow">
            <img class="card-img-top" src="{{ bookmark.image }}" alt="Card image cap" />
            <div class="card-body">
              <h4 class="card-title">{{ bookmark.title }}</h4>
              <p class="card-text">{{ bookmark.description }}</p>
            </div>
            {% if edit_bookmark_status == True %}
            <div class="card-body row">
              <form method="POST" action="{{ url_for('delete_bookmark', collectionId=collection.id, bookmarkId=bookmark.id) }}" class="col-md-12">
                <button class="btn btn-danger col-md-12">Delete</button>
              </form>
            </div>
            {% else %}
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center">Source: {{ bookmark.source }}</li>
            </ul>
            <div class="card-body">
              <form method="POST" action="{{ url_for('increment_like', collectionId=collection.id, bookmarkId=bookmark.id) }}" class="col-md-12">
                <button class="btn btn-secondary col-md-12">Share</button>
              </form>
            </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <!-- edit modal -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="edit modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Collection</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% from "_formhelpers.html" import render_field %}
        <form action="{{ url_for('edit_collection', collectionId=collection.id) }}" method="POST" enctype="multipart/form-data" role="form">
          <div class="modal-body">
            {{ form.hidden_tag() }}

            {{ render_field(edit_form.name, class='form-control', required=True, value=collection.name) }}
            {{ render_field(edit_form.image, class='form-control', required=False, value=collection.image) }}
            {{ render_field(edit_form.image_upload, class='form-control', required=False, value=collection.image_upload) }}
            {{ render_field(edit_form.category, class='form-control', required=True, value=collection.category) }}
          </div>
          <div class="modal-footer">
            <button class="btn btn-success" type="submit">Update</button>
          </div>
        </form>
        <br/>
        <button class="btn btn-danger" onclick="window.location.href='{{ url_for('delete_collection', collectionId=collection.id) }}'">Delete Collection</button>
      </div>
    </div>
  </div>
{% endblock %}
