/* ======== navbar ======== */
nav {
  background-color: #1b2c3e;
}

nav a {
  color: white !important;
}

body {

}

#content {
  overflow-x: hidden;
}

.boxshadow {
  -webkit-box-shadow: 3px 4px 10px 1px rgba(0,0,0,0.5) !important;
  -moz-box-shadow: 3px 4px 10px 1px rgba(0,0,0,0.5) !important;
  box-shadow: 3px 4px 10px 1px rgba(0,0,0,0.5) !important;
}


/* ======== Login ======== */
.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaecef
}

.login .login__border {
  /* border: 2px solid black; */
  /* border-radius:5px; */
  padding: 40px;
  background-color: white;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ======== Signup ======== */
.signup {
  height:100vh;
  width:100vw;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: #eaecef;
}

.signup__border {
  /* border: 2px solid black; */
  /* border-radius:5px; */
  padding: 40px;
  background-color: white;
}

.signup form {
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}



/* ======== Library ======== */
.library__header {
  height: 600px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.library__header--content {
  color: white;
}

.library__filter {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
}

.library__bookmarks {
  margin-left:10px;
  margin-right:10px;
}

.library__bookmarks--card {
  margin-bottom:20px;
}
.library__bookmarks--card:hover {
  cursor: pointer;
}

.library__bookmarks--header {
  height: 600px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.library__bookmarks--header-content {
  color: white;
}

.library__bookmark-view--nav {

}

.library__bookmark-view--nav h1 {
  font-size: 35px;
  margin-bottom: 18px;
}


.library__bookmark-view--nav-back-button {
  padding-left: 40px;
}

.library__bookmark-view-article {

}

.library__bookmark-view-article-wrapper {
  padding: 40px;
  max-height: 85vh;
  overflow-y: scroll;
}

/* ======== Browse ======== */
.browse__header {
  height: 600px;
  background-image: url('/static/images/browse.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.browse__articles {
  margin-left:10px;
  margin-right:10px;
}
.browse__articles:hover {
  cursor: pointer;
}

.browse__articles--card {
  margin-bottom:20px;
}

.browse__view--nav {

}

.browse__view {

}

.browse__view--nav h1 {
  font-size: 35px;
  margin-bottom: 18px;
}

.browse__view--nav-back-button {
  padding-left: 40px;
}

.browse__view--article {

}

.browse__view--article-wrapper {
  padding: 20px;
  max-height: 85vh;
  overflow-y: scroll;
}

.browse__view--live-comments {

}

/* ======== Social ======== */
.social {
  width: 100%;
}

.social__post {
  padding: 20px 20px 30px 20px;
  margin: 50px 0 0 0;
}

.social__post h1 {
  font-size: 32px;
  padding-bottom: 5px;
}

.social__post form {

}

.social__post form textarea {
  resize: none;
  margin-top: 5px;
}

.social__timeline {
  margin-top: 40px;
}

.social__timeline--article {

}
.social__timeline--article:hover {
  cursor: pointer;
}

.social__timeline--comments {

}

.social__timeline--comment-wrapper {
  max-height: 30vh;
  overflow-y: scroll;
}

.social__timeline--postdate {
  font-size: 12px;
}

.comment {
  padding: 10px;
}

.comment__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.comment__wrapper--img {
  height: 50px;
  width: 50px;
}

.comment__wrapper--name {
  padding-left: 10px;
}

.comment__wrapper--comment {

}

.comment__readmore {
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}

.comment__comment-entry {
  width: 100%;
  padding-bottom: 10px;
}

.comment__comment-entry form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.comment__comment-entry form textarea {
  resize: none;
}

.social__view--nav {

}

.social__view--nav h1 {
  font-size: 35px;
  margin-bottom: 18px;
}

.social__view--nav-back-button {
  padding-left: 40px;
}

.social__view {

}

.social__view--article {

}

.social__view-article-wrapper {
  padding: 20px;
  max-height: 85vh;
  overflow-y: scroll;
}

.social__view-comments {

}

.social__view-comments .card-title {
  font-size: 22px;
}

.social__view-post {
  font-size: 16px;
}

.social__view--postdate {
  font-size: 12px;
}

.social__view--comment-wrapper {

}

/* ======== Profile ======== */
.profile {
  width: 100%;
}

.profile__header {

}

.profile__header--cover {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  /* background-color: black; */
  background-image: url('https://dreamlandia.com/images/N/newspaper.jpg');
  background-size: cover;
  background-position: center center;
  height: 400px;
  width: 100%;
  padding-bottom: 20px;
}

.profile__header--imgwrapper {

}

.profile__header--imgwrapper img {
  height: 200px;
  width: 200px;
}

.profile__header--name {
  color: white;
}

.profile__nav {
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
