<div class="row" style="margin-left:10px;margin-right:10px;">
  <div class="col-sm-3" style="margin-bottom:20px;">
    <div class="card">
      <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Test</h4>
        <p class="card-text">Test</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center">Added on: test</li>
      </ul>

      <ul class="list-group list-group-flush">
        <a href="" target="_blank" class="card-link list-group-item text-center">Go To Bookmark</a>
      </ul>
      <div class="card-body">
        <form method="POST" action="" class="col-md-12">
          <input type="hidden" value="test" name="like_bookmark_id" />
          <span class="col-md-3">test</span>
          <button class="btn btn-primary col-md-9">Like</button>
        </form>
        <form method="POST" action="" class="col-md-12">
          <input type="hidden" value="test" name="dislike_bookmark_id" />
          <span class="col-md-3">test</span>
          <button class="btn btn-warning col-md-9">Dislike</button>
        </form>
      </div>
    </div>
  </div>
</div>
